#!ipxe

set base-uri https://dl-cdn.alpinelinux.org/alpine/
set ipxe-base-uri https://mirrors.edge.kernel.org/alpine
set arch x86_64
set version v3.19
set repos-uri ${base-uri}/${version}
set releases-uri ${base-uri}/${version}/releases/${arch}
set ipxe-releases-uri ${ipxe-base-uri}/${version}/releases/${arch}
set github-uri https://github.com/sbrudenell/server.s-apkovl/releases/latest/download/

set kernel-uri ${ipxe-releases-uri}/netboot/vmlinuz-lts
set ucode-uri ${github-uri}/intel-ucode.img
set initrd-uri ${ipxe-releases-uri}/netboot/initramfs-lts
set modloop-uri ${releases-uri}/netboot/modloop-lts
set repo-uri ${repos-uri}/main

set console-param console=tty0 console=ttyS2,115200n8 earlyprintk=vga earlyprintk=serial,ttyS2,115200n8
set ip-param ip=${ip}::${gateway}:${netmask}:::none:${dns} BOOTIF=ac-1f-6b-22-61-58
set repo-param alpine_repo=${repo-uri}
set modules-param modules=loop,squashfs modloop=${modloop-uri}
set apkovl-param apkovl=${github-uri}/server.apkovl.tar.gz
set log-param log_buf_len=16M
iseq ${asset} local-test && clear apkovl-param ||

# Use singlemode as a workaround for delay in network coming up before installing
set cmdline ${console-param} ${ip-param} ${repo-param} ${modules-param} ${apkovl-param} ${log-param} single

kernel ${kernel-uri} ${cmdline}
initrd ${ucode-uri}
initrd ${initrd-uri}
boot -ar
